.container {
  flex-direction: column;
  width: 100%;
  max-width: 660px;
  gap: 15px;
  overflow: auto;
  margin-top: 20px;

  height: 100%;
  padding-bottom: 15px;
}

.animateLogo {
  position: absolute;
  top: 33%;
  left: calc(50% - 56px);
  z-index: -7;

  @media (max-width: 600px) {
    top: 30dvh;
    left: calc(50vw - 38px);
  }
}
.tags {
  margin-bottom: 30px;
}

.messages {
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  gap: 15px;
  flex: 1;

  overflow-y: scroll;
  padding: 0 20px 20px;

  @media screen and (max-width: 600px) {
    margin-top: 15px;

    padding-right: 20px;
    padding-left: 20px;

    &.withLoading {
      padding: 0 20px;
    }
  }
}

.welcomeText {
  text-align: center;
  margin-bottom: 31px !important;
  font-family: var(--gilroy), sans-serif !important;
}

.chatInput {
  @media screen and (max-width: 600px) {
    padding: 0 15px;
  }
}

.logo {
  height: 40px;
  width: 40px;
  min-width: 40px;
}

.chatTabs {
  margin-bottom: 30px;
  width: 100%;
}
