.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 20px;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #03f392 transparent;
  transition: scrollbar-color 0.5s ease;
}

.bodyIndexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 53px;
}

.waistContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.waistContent {
  display: flex;
  flex-direction: column;
  max-width: 235px;

  p {
    position: static;
    max-width: 100%;
  }
}

.title {
  font-family: var(--NeueMachina), sans-serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.053em;
  text-align: left;

  margin: 50px 20px 30px 20px;

  @media screen and (max-width: 450px) {
    margin: 29px 20px;
  }
}
