.bodyIndexTitle {
  font-family: var(--gilroy), sans-serif;
  font-size: 17px;
  line-height: 20.4px;

  margin-bottom: 7px;
}

.bodyIndexSubtitle {
  font-family: var(--gilroy), sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -0.053em;
}
