.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;

  isolation: isolate;
  z-index: 1;

  @media screen and (max-width: 600px) {
    justify-content: flex-end;
  }
}

.iconContainer {
  position: absolute;
  display: flex;
  gap: 18px;
  top: 47px;
  right: 47px;
  cursor: pointer;

  @media (max-width: 600px) {
    top: 34px;
    right: 40px;
  }
}

.changeLayoutPositionContent {
  transform: scale(0.95) translateY(-5.5%);

  transition: all 0.3s linear;
}

.desktopLinks {
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 1000;
}

.children {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  overflow: hidden;
  position: relative;
  justify-content: center !important;

  @media (max-width: 600px) {
    justify-content: space-between !important;
    // @todo: я не понял для чего это))
    // max-height: 855px;
    // height: calc(100dvh - 20px);
    // justify-content: space-between !important;
  }
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 44px 47px;

  border-bottom: 0.5px solid #ffffff33;

  @media screen and (max-width: 600px) {
    padding: 30px;
  }
}

.logo {
  display: block;
}

.desktopLinks {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.mobileLinks {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
    margin-top: 24px;
  }
}

.logo {
  @media screen and (max-width: 600px) {
    height: 26px;
  }
}

.leftCircle {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-45%, -40%);

  background: radial-gradient(50% 50% at 50% 50%, #06f35a29 0%, #121212 100%);

  border-radius: 50%;
  width: min(100vw, 1440px);
  height: min(100vw, 1440px);

  @media screen and (max-width: 600px) {
    width: 900px;
    height: 900px;
  }
}

.rightCircle {
  position: absolute;
  right: 0;
  bottom: -50%;
  transform: translateX(40%);

  background: radial-gradient(50% 50% at 50% 50%, #01d77517 0%, #121212 100%);

  border-radius: 50%;
  width: min(100vw, 1440px);
  height: min(100vw, 1440px);

  @media screen and (max-width: 600px) {
    width: 400px;
    height: 400px;

    bottom: 0%;
  }
}

button.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 100;

  padding: 8px;

  @media screen and (max-width: 600px) {
    top: 15px;
    right: 15px;
  }
}
