div.header {
  justify-content: center;
}

div.children {
  overflow: auto;
  min-height: 531px;

  @media screen and (max-width: 600px) {
    margin-top: 30px;
    min-height: 0;
  }

  @media screen and (max-height: 660px) {
    min-height: 0;
  }
}
