button.button {
  background-color: linear-gradient(rgb(6, 244, 96) 0%, rgb(1, 255, 202) 100%)
    0% 0% no-repeat padding-box padding-box transparent;
}

.footer {
  margin-top: 30px;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerContent span {
  cursor: pointer;
}

.footerContent p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
  margin-top: 15px;
}

.afterForm {
  display: flex;
  justify-content: center;
}

.agreement {
  max-width: 550px;
  text-align: center;
  opacity: 0.7;
  font-size: 14px;
  color: #fff;

  padding: 0 10px;
  margin-top: 10px;
}

div.successBlock {
  height: 440px;
  margin-top: 60px;

  @media screen and (max-width: 620px) {
    height: 400px;
    margin-top: 0;
  }
}
