div.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.backdrop {
  background-color: transparent;
}

div.content {
  background: linear-gradient(
    108.85deg,
    rgba(48, 48, 48, 0.4) 0.8%,
    rgba(48, 48, 48, 0.4) 76%,
    rgba(65, 65, 65, 0.4) 99.1%
  );
  backdrop-filter: blur(100px);
  box-shadow: 0px -14px 23px 0px #181818;

  outline: none;
}

button.closeBtn {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 22;

  padding: 10px;
}
