.table {
  overflow-x: scroll;
  @media (max-width: 1024px) {
    padding-left: 24px;
  }
}
.icon {
  height: 20px;
}
.table::-webkit-scrollbar {
  display: none;
}
.table__container::-webkit-scrollbar {
  display: none;
}

.table__cell {
  color: #ffffff66;
  font-weight: bold;
  border-right: 1px solid #444;
  text-align: center !important;
  width: 240px;
  font-size: 22px !important;
  font-family: var(--gilroy), sans-serif !important;
}

.table__row {
  color: #c1c1c1 !important;
  border-right: 1px solid #444;
  font-size: 14px !important;
  text-align: center !important;
  width: 240px;
  font-family: var(--gilroy), sans-serif !important;
  display: flex;
  justify-content: center;

  & .table__row__content {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
}

div.tooltip {
  max-width: max-content;
}

.table__title {
  color: #ffffff66;
}
.table__container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 28px !important;
}

.visible {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.hidden {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.button__container {
  margin: 0 auto;
  max-width: 1200px;
}

.tooltip {
  // display: flex !important;
  // justify-content: flex-start;
  // align-items: center;
  // gap: 5px;
  margin-left: 5px;
}
