.label {
  font-family: var(--gilroy), sans-serif;
  font-size: 17px;
  line-height: 20.4px;
  color: #fff;
  text-align: left;

  display: inline;
  white-space: normal;
  word-break: break-word;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.withTooltip {
  position: relative;
  display: flex;
  word-wrap: break-word;
}

span.tooltip {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 11px;
  display: inline-flex !important;

  margin-left: 10px;

  svg {
    position: absolute;
    top: 50%;

    transform: translateY((-50%));
  }
}
