.selectContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  transition: width 0.3s ease;
  &.open {
    width: auto;
  }
}

.selectedValue {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 11px 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  transition: background-color 0.3s;
  font-family: var(--gilroy), sans-serif !important;
}

.dropdownList {
  position: absolute;
  border-radius: 40px;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  transform: scaleX(0);
  padding: 12px 16px;

  top: 0;
  transform-origin: left center;
  display: flex;
  gap: 26px;
  flex-direction: row;
}

.open.dropdownList {
  opacity: 1;
  pointer-events: auto;
  transform: scaleX(1);
}

.dropdownItem {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: #ffffff80;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s;
  font-family: var(--gilroy), sans-serif !important;
}

.activeItem {
  color: #fff !important;
}

.itemIndicator {
  box-shadow: 0px 0px 25px 0px;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  display: flex;
}

@media (max-width: 600px) {
  .selectContainer {
    &.open {
      width: 92vw;
    }
  }
  .open.dropdownList {
    left: -100%;
    z-index: 1000000000000000;
  }
  .dropdownList {
    width: 92vw;
    justify-content: space-between;
    left: 0 !important;
  }
}
