div.header {
  justify-content: center;
}

div.layout {
  height: 100%;
  padding: 20px 0;

  @media screen and (max-width: 660px) {
    padding-bottom: 0;
  }
}

div.content {
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    margin-top: 30px;
  }
}
