.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #292929;
}

.leftCircle {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-45%, -40%);

  background: radial-gradient(50% 50% at 50% 50%, #06f35a29 0%, #121212 100%);

  border-radius: 50%;
  width: min(100vw, 1440px);
  height: min(100vw, 1440px);

  @media screen and (max-width: 600px) {
    width: 900px;
    height: 900px;
  }
}

.rightCircle {
  position: absolute;
  right: 0;
  bottom: -50%;
  transform: translateX(40%);

  background: radial-gradient(50% 50% at 50% 50%, #01d77517 0%, #121212 100%);

  border-radius: 50%;
  width: min(100vw, 1440px);
  height: min(100vw, 1440px);

  @media screen and (max-width: 600px) {
    width: 400px;
    height: 400px;

    bottom: 0%;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

h2.title {
  font-family: var(--NeueMachina), sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  letter-spacing: -4%;
  text-transform: uppercase;

  @media screen and (max-width: 600px) {
    font-size: 25px;
    line-height: 25.62px;
    max-width: 273px;
  }
}

p.text {
  font-family: var(--gilroy), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0;
}

div.chip {
  background-color: #d9d9d91a;
  border: none;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 36px;
  height: 24px;
  display: flex;
  align-items: flex-end;
  line-height: 160%;

  @media screen and (max-width: 600px) {
    margin-bottom: 27px;
  }
}

.subscribeButton {
  max-width: 282px;
}
