.content {
  position: relative;

  margin-block: 104px;

  @media screen and (max-width: 600px) {
    margin-top: 40px;
  }
}

div.header {
  justify-content: center;
}

.root {
  min-height: 269px;
}
