div.header {
  justify-content: center;
}

div.layout {
  height: 100%;
  padding: 20px 0;

  @media screen and (max-height: 660px) {
    height: unset;
  }

  @media screen and (max-width: 660px) {
    padding-bottom: 0;
  }
}

div.children {
  @media screen and (max-width: 600px) {
    margin-top: 30px;
  }
}
