.pageContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.mainSection {
  flex: 1;
  margin: 0 auto;
}

.layout {
  padding: 100px 0;

  @media screen and (max-width: 600px) {
    padding: 40px 0 0 0;
    overflow-y: auto;
    min-height: 100%;
    height: auto;
  }
}

.content {
  @media screen and (max-width: 600px) {
    max-height: none;
    height: auto;
  }
}

.children {
  justify-content: space-between;
  overflow: overlay;
}
.logo {
  width: 62px;
  height: 33px;
}

.suptitle {
  font-family: var(--gilroy), sans-serif;
  max-width: 660px;
}
