.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.title {
  font-family: var(--NeueMachina), sans-serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.053em;
  text-align: left;

  margin: 50px 0 30px 0px;
  padding-left: 20px;
  width: 100%;

  @media screen and (max-width: 420px) {
    // margin: 29px 20px;
  }
}

hr.divider {
  display: block;
  width: 100%;
  margin: 70px 0;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 0 40px;
  margin-bottom: 40px;
}

div.modal {
  background-color: #303030;
}

.sport {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  margin-bottom: 40px;
}
