.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.final {
  margin-top: 167px;
  margin-bottom: 42px;
  margin: 167px auto 42px auto;
  z-index: 1;

  @media screen and (max-width: 600px) {
    // width: 100%;
    // height: auto;
  }
}

.ellipse {
  position: absolute;
  top: -10px;
  left: -22px;

  border-radius: 50%;

  @media screen and (max-width: 600px) {
    top: -10px;
    left: -50px;
  }
}

.title {
  font-family: var(--NeueMachina), sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.053em;
  text-align: center;

  margin-bottom: 31px;
  z-index: 1;
}

.description {
  font-family: var(--gilroy), sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.4px;
  text-align: center;

  opacity: 0.7;
  margin-bottom: 87px;
}
