div.layoutContainer {
  height: 100dvh;

  @media (max-width: 600px) {
    height: auto;
  }
}

div.content {
  height: 90dvh;

  @media screen and (max-width: 600px) {
    height: calc(100dvh - 30px);
  }
}
